body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}

.formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;
}

form {
    background-color: rgb(245, 7, 7);
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0 0 20px;
    padding: 5px;
}

.pantalla {
    width: 195px;
}

input {
    border-radius: 10px;
    border: 2.5px solid rgb(20, 240, 4);
    box-shadow: 0 0 6px;
    font-size: 40px;
    font-weight: bolder;
    cursor: pointer;
    margin: 5px;
    text-align: center;
}

.agrandar {
    width: 65px;
    background: rgb(207, 207, 232);
}

input:hover {
    color: rgb(52, 165, 42);
}